<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name" class="fw-bold">Name</label>
          <input 
          type="text" 
          id="name" 
          class="form-control mb-2"
          ngModel
          name="name"
          required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount" class="fw-bold">Amount</label>
          <input 
          type="number" 
          id="amount" 
          class="form-control mb-2" 
          ngModel
          name="amount"
          required
          pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
          class="btn btn-success me-2" 
          type="submit" 
          [disabled]="!f.valid"
          >{{ editMode ? 'Update' : 'Add' }}</button>
          <button 
          class="btn btn-danger me-2" 
          type="button"
          (click)="onDelete()"
          *ngIf="editMode"
          >Delete</button>
          <button 
          class="btn btn-primary me-2" 
          type="button" 
          (click)="onClear()"
          >Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
