.backdrop{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.alert-box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    z-index: 100;
    padding: 16px;
}

.alert-box-action{
  text-align: right;
}