<a 
style="cursor:pointer;" 
class="list-group-item list-group-item-action clearfix"
[routerLink]="[index]"
routerLinkActive="active"
>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <div>
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-fluid"
        style="max-height: 50px"
      />
    </div>
  </div>
</a>
